{% extends 'base.html' %}
{% set active_page = "daily" %}
{% block content %}
<div class="container">
<h2>{% block title %} Daily buckets with info {% endblock %}</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Time (UTC)</th>
            <th scope="col">Ticker</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th>
        </tr>
    </thead>
    <tbody>
    {% for index, item in data %}
        <tr>
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <p class="lead">Last update: {{ date }}</p>
</div>
{% endblock %}